@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    width: 97vw;
    height: 96vh;
}

#container{
    position: absolute;
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

div > h1{
    text-align: center;
}

#iemail{
    background-color: rgb(97, 204, 172);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

#iiemail{
    display: block;
    padding: 2px 2px 2px 45px;
    margin-top: 20px;
    background-color: purple;
    border-radius: 8px;
}

#isenha{
    background-color: rgb(97, 204, 172);
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

#iisenha{
    display: block;
    padding: 1px 2px 1px 45px;
    margin-top: 5px;
    background-color: purple;
    border-radius: 8px;
}

#ientrar{
    display: block;
    padding: 10px;  
    margin-top: 5px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color:rgb(97, 204, 172);
    color: white;
}

#iesenha{
    display: block;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(97, 204, 172);
    background-color: white;
    color:rgb(50, 104, 88); 
}